<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with FoodHut landing page.">
    <meta name="author" content="Devcrud">
    <title>FoodHut</title>

    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

    <link rel="stylesheet" href="assets/vendors/animate/animate.css">

    <!-- Bootstrap + FoodHut main styles -->
    <link rel="stylesheet" href="assets/css/foodhut.css">
    <style>
        .button {
            width: 70%;
        }

        .gallary-item img {
            height: 100%;
        }

        .outer-div {
            display: grid;
            place-items: center;
            /* Center vertically */
            /* Other properties for outer-div */
        }

        input:focus {
            outline-offset: -2px;
        }

         .contain {

            
            width: 100%;
            margin-top: -1em;
            margin-bottom: 50px;
            
        } 

        #submitsearch {
            border: 1px solid rgb(138, 134, 134);
            margin-left: -82px;
            padding: 5px;
            border-radius: 19px;
            cursor: pointer;
            padding-left: 10px;
            padding-right: 8px;
            padding-top: 4px;

            display: none;
            box-shadow: 0 0 1px black;
            margin-right: 110px;
        }

        #searchInput {
            width: 18%;

            border: 1px solid #000;
            border-radius: 30px;
            font-size: 16px;
            background-color: white;
            background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');

            background-position: 10px 7px;
            background-repeat: no-repeat;
            padding: 8px 20px 8px 40px;
            -webkit-transition: width 0.8s ease-in-out;
            transition: width 0.8s ease-in-out;
            outline: none;
            opacity: 0.9;

        }
    </style>
    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>

    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- wow.js -->
    <script src="assets/vendors/wow/wow.js"></script>

    <!-- FoodHut js -->
    <script src="assets/js/foodhut.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Navbar -->
    <%- include('navbar.ejs')%>

        <header id="home" class="header">
            <div class="overlay text-white text-center">
                <h1 class="display-2 font-weight-bold my-3">Food Hut</h1>
                <h2 class="display-4 mb-5">Always fresh &amp; Delightful</h2>
                <a class="btn btn-lg btn-primary" href="#gallary">View Our Menu</a>
            </div>
        </header>

        <!--  About Section  -->
        <div id="about" class="container-fluid wow fadeIn" id="about" data-wow-duration="1.5s">
            <div class="row">
                <div class="col-lg-6 has-img-bg"></div>
                <div class="col-lg-6">
                    <div class="row justify-content-center">
                        <div class="col-sm-8 py-5 my-5">
                            <h2>Welcome to FoodHub- Your Ultimate Food Ordering Platform!</h2>

                            Are you tired of the daily struggle of deciding what to eat? Look no further!
                            <strong>FoodHub</strong> is here to save the day. We are an online food ordering platform
                            that aims to make your life easier by providing a wide selection of delicious meals at your
                            fingertips.

                            With <strong>FoodHub</strong>, you can effortlessly explore hundreds of restaurants and
                            eateries in your area. Our intelligent search system allows you to choose from a variety of
                            cuisines, ranging from traditional Vietnamese dishes to tantalizing international flavors.

                            But that's not all!<br> <strong>FoodHub</strong> offers special features to enhance your
                            dining experience. You can save your favorite restaurants for quick and easy access in the
                            future. Additionally, you have the opportunity to rate and write reviews about the places
                            you've tried, helping other users make informed decisions based on accurate and reliable
                            information.

                            Ordering food online with <strong>FoodHub</strong> is incredibly simple. Just select a
                            restaurant, browse their menu, customize your order, and proceed to checkout. With our
                            user-friendly interface and secure payment options, you can enjoy a hassle-free ordering
                            process from start to finish.<br>

                            Join <strong>FoodHub</strong> today and say goodbye to the never-ending food dilemma. Let us
                            take care of your cravings while you sit back, relax, and enjoy a delightful culinary
                            experience.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  gallary Section  -->
        <div id="gallary" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
            <h2 class="section-title mb-2">OUR MENU</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-7 col-md-7 mb-4">
                <ul class="nav nav-pills nav-justified mb-3 " id="pills-tab" role="tablist">
                    <li class="nav-item type">
                        <a class="nav-link active " data-toggle="pill" href="#foods" role="tab"
                            aria-controls="pills-home" aria-selected="true">Foods</a>
                    </li>
                    <% for(let i=0 ;i<FoodTypes.length;i++){%>
                        <li class="nav-item type">
                            <a class="nav-link " data-toggle="pill" href="#" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                                <%= FoodTypes[i].Type%>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </div>
            <div class='contain row'>
                <div class="col"></div>
                
                <input type="text" id="searchInput" placeholder="Search..">
                <div id='submitsearch' class="col-6">

                    <span>Search</span>

                </div>
                <script defer>
                    const list = <%-JSON.stringify(Food_List )%> 
                </script>

                <script>
                    $(document).ready(function () {
                        $('#searchInput').bind('input propertychange', function () {
                            let inputsearch =$(this).val().toLowerCase()
                            // console.log(inputsearch);
                            $('.gallary-item ').hide()
                            let arr =[]
                            for (var i in list) {
                                if (list[i].Food.toLowerCase().includes(inputsearch)=== true || list[i].info_Detail.toLowerCase().includes(inputsearch)=== true|| list[i].Type.toLowerCase().includes(inputsearch)=== true){
                                    arr.push(list[i].IDFood)
                                }
                            }
                            console.log(arr);
                            var str = ``
                            for(let i in arr){
                                str += `#${arr[i]},`
                            }
                            console.log(str.slice(0, -1)); 
                            $(`${str.slice(0, -1)}`).show()
                            if($(this).val()===''){
                                $('.gallary-item ').show()
                            }
                        });
                    })
                </script>
                <div class="col"></div>
            </div>
        </div>
        
        <div class="gallary row">
            <% for(let i=0 ;i<Food_List.length;i++){%>
                <div id="<%=Food_List[i].IDFood%>" class="col-sm-6 col-lg-3 gallary-item wow fadeIn <%= Food_List[i].TypeID%> ">
                    <img src="<%= Food_List[i].img_src %>" class="gallary-img">
                    <div href="#" class="gallary-overlay">
                        <!-- <i class="gallary-icon ti-plus"></i> -->
                        <div class="card container" style="background-color: transparent;border: none;">
                            <div class="row outer-div">
                                <div class="inner-div col-lg-12 text-center  ">
                                    <h3 style=" color:#FF5464;">
                                        <%= Food_List[i].Food %>
                                    </h3>
                                    <h6>Price: <span style="color: #FFD753;">
                                            <%= Food_List[i].Price %>$
                                        </span></h6>
                                </div>
                                <br>
                                <div class="col-lg-12 ">
                                    <div class="row text-center py-2">
                                        <form action="/Buynow" method="post" class="col-lg-4 px-0">
                                            <input type="text" name="from" value="index" class="unchange"
                                                style="display: none;">
                                            <input type="text" name="idfood" value="<%= Food_List[i].IDFood %>"
                                                class="unchange" style="display: none;">
                                            <input type="text" name="iduser" value="<%= iduser %>" class="unchange"
                                                style="display: none;">
                                            <input type="number" name="quantity" class="unchange" value="1"
                                                style="display: none;">
                                            <button type="submit" id="BuyNow"
                                                class="button btn btn-outline-primary px-0"> Buy
                                                Now</button>
                                        </form>

                                        <div class="col-lg-4 px-0">
                                            <a href="/addCart/<%= Food_List[i].IDFood %>" id="AddCart"
                                                class="button  btn btn-outline-primary px-0"> Add Cart</a>
                                        </div>

                                        <div class="col-lg-4 px-0">
                                            <!-- <input type="text" class="unchange" value="<% Food_List[i].IDFood %>" name="idfood" style="display: none;"> -->
                                            <a href="/Feedback<%= Food_List[i].IDFood %>" id="FeedBack"
                                                class="button  btn btn-outline-primary px-0"> Comment
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <%}%>


                    <!-- book a table Section  -->
                    <!-- BLOG Section  -->
                    <!-- REVIEWS Section  -->

                    <%- include('footer.ejs')-%>




</body>

</html>