<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./js/jquery-3.5.1.js"></script>


  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <title>Admin</title>
</head>
<style>
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: revert;
      flex-direction: row-reverse;
    }
  }
</style>

<body>
  <!-- top navigation bar -->
  <%- include('navSidebar.ejs') %>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid my-5">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="mb-3">Update Food</h1>
            <form method="post" action="/change" enctype="multipart/form-data">
              <div class="row gy-3">
                <div class="col-8">
                  <div class="row">
                    <div class="col-md-2">
                      <label for="id" class="form-label">idFood</label>
                      <input type="number" disabled class="form-control" id="id" value="<%= Food.IDFood%>" required>
                      <input type="hidden" class="form-control" id="id" value="<%= Food.IDFood%>" name="idFood">
                    </div>
                    <div class="col-md-10">
                      <label for="Food" class="form-label">Food Name</label>
                      <input type="text" value="<%= Food.Food%>" class="form-control" id="Food" name="Food" required>
                    </div>
                    <div class="col-md-4">
                      <label for="type" class="form-label">Type</label>
                      <select class="form-select" name="type" id="type" required>
                        <% for(let i=0 ; i < types.length ; i++){ if (types[i].IDType===Food.TypeID){ %>
                          <option selected value="<%=types[i].IDType %>">
                            <%=types[i].Type %>
                          </option>
                          <% } else{ %>
                            <option value="<%=types[i].IDType %>">
                              <%=types[i].Type %>
                            </option>
                            <%} }%>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="price" class="form-label">Price</label>
                      <input type="number" min="1" value="<%= Food.Price%>" class="form-control" id="price" name="Price"
                        required>
                    </div>
                    <div class="col-md-4">
                      <label for="LeftAmount" class="form-label">LeftAmount</label>
                      <input type="number" value="<%=Food.Amount%>" min="1" class="form-control" id="Amount"
                        name="Amount" required>
                    </div>
                    <div class="col-12">
                      <label for="info" class="form-label">Detail infomation</label>
                      <textarea class="form-control" id="info" name="content" rows="50"><%-Food.info_Detail%></textarea>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col"></div>
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-dark w-100 fw-bold">Upload</button>
                        </div>
                        <div class="col"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <img class="png" width="100%" src="<%=Food.img_src%>" alt="hhhhh" srcset="">
                  <label class="png" for="img">Change Image</label>
                  <div class="png" id="preview" style="width: 100%;"></div>
                  <input class="png" type="file" name="img" id="img" onchange="getImagePreview(event)">
                  
                  <button id="view" type="button" class="btn btn-primary my-3">Show information</button>
                  <div id="info-box">
                    <%-Food.info_Detail%>
                  </div>
                  <script>
                    $(document).ready(() => {
                      $('#info-box').hide()
                      $('.png').show()
                      $('#view').click(() => {
                        $('#info-box').toggle()
                        $('.png').toggle()
                        if ($('#view').text() === 'Show information') {
                          $('#view').text('Hide information');
                        }
                        else {
                          $('#view').text('Show information');
                        }
                      })
                    })
                  </script>
                </div>
                <style>
                  #info-box{
                    height: 500px;
                    overflow-y: scroll;
                  }
                </style>

              </div>
            </form>
            <script>
              let editor;
              ClassicEditor
                .create(document.querySelector('#info'))
                .then(newEditor => {
                  editor = newEditor;
                })
                .catch(error => {
                  console.error(error);
                });
              // editor.setData('your text data');

            </script>
          </div>
        </div>
      </div>
    </main>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script>

    <script>
      function getImagePreview(event) {
        var image = URL.createObjectURL(event.target.files[0]);
        var imagediv = document.getElementById('preview');
        var newimg = document.createElement('img');
        imagediv.innerHTML = '';
        newimg.src = image;
        newimg.width = "365";
        imagediv.appendChild(newimg);
      }

    </script>
    <script>
      $('#meme').hide()
      var randomNum = Math.floor(Math.random() * 6) + 1;
      if(randomNum===1){
        $('#meme').show()
      }
    </script>
    <%-include('chat.ejs')%>
</body>

</html>